{
  "openapi": "3.0.3",
  "tags": [
    {
      "name": "icons",
      "description": "Operations for Icon resource"
    }
  ],
  "info": {
    "title": "SAKURA Cloud APIs",
    "version": "0.0.1",
    "description": "This is a definitions for SAKURA Cloud APIs.",
    "termsOfService": "https://www.sakura.ad.jp/agreement/",
    "contact": {
      "name": "Maintainers",
      "url": "https://github.com/sacloud/schema",
      "email": "sacloud.users@gmail.com"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "servers": [
    {
      "url": "https://secure.sakura.ad.jp/cloud/zone/{zone}/api/cloud/1.1",
      "variables": {
        "zone": {
          "default": "is1a",
          "enum": [
            "is1a",
            "is1b",
            "tk1a",
            "tk1b",
            "tk1v"
          ]
        }
      }
    }
  ],
  "paths": {
    "/icon?{params}": {
      "get": {
        "summary": "List all Icons",
        "description": "List all Icons",
        "operationId": "listIcons",
        "tags": [
          "icons"
        ],
        "parameters": [
          {
            "in": "path",
            "required": true,
            "name": "params",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IconFindParameter"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "An array of icons",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Icon"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/icon": {
      "post": {
        "summary": "Create a icon",
        "description": "Create a icon",
        "operationId": "createIcons",
        "tags": [
          "icons"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IconCreateParameter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Icon"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    },
    "/icon/{iconId}": {
      "get": {
        "summary": "Info for a specific Icon",
        "description": "Info for a specific Icon",
        "operationId": "showIconById",
        "tags": [
          "icons"
        ],
        "parameters": [
          {
            "name": "iconId",
            "in": "path",
            "required": true,
            "description": "The id of the icon to retrieve",
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Icon"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      },
      "put": {
        "summary": "Update Icon",
        "description": "UpdateIcon",
        "operationId": "updateIconById",
        "tags": [
          "icons"
        ],
        "parameters": [
          {
            "name": "iconId",
            "in": "path",
            "required": true,
            "description": "The id of the icon to retrieve",
            "schema": {
              "$ref": "#/components/schemas/ID"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IconUpdateParameter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expected response to a valid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Icon"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "default": {
            "$ref": "#/components/responses/UnexpectedError"
          }
        }
      }
    }
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "ID": {
        "oneOf": [
          {
            "type": "integer"
          },
          {
            "type": "string"
          }
        ],
        "format": "int64"
      },
      "FindResultMeta": {
        "type": "object",
        "properties": {
          "Count": {
            "type": "integer"
          },
          "From": {
            "type": "integer"
          },
          "Total": {
            "type": "integer"
          },
          "is_ok": {
            "type": "boolean"
          }
        }
      },
      "APIError": {
        "type": "object",
        "properties": {
          "is_fatal": {
            "type": "boolean"
          },
          "serial": {
            "type": "string"
          },
          "error_code": {
            "type": "string"
          },
          "error_msg": {
            "type": "string"
          }
        }
      },
      "IconFindParameter": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "Filter": {
            "$ref": "#/components/schemas/IconFindFilter"
          }
        }
      },
      "IconFindFilter": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "Scope": {
            "type": "string",
            "enum": [
              "user",
              "shared"
            ]
          },
          "Name": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Tags.Name": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "IconCreateParameter": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "Image": {
            "type": "string"
          }
        }
      },
      "IconUpdateParameter": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Icon": {
        "type": "object",
        "properties": {
          "Availability": {
            "type": "string"
          },
          "CreatedAt": {
            "type": "string"
          },
          "ID": {
            "$ref": "#/components/schemas/ID"
          },
          "Index": {
            "type": "integer"
          },
          "ModifiedAt": {
            "type": "string"
          },
          "Name": {
            "type": "string"
          },
          "Scope": {
            "type": "string"
          },
          "Tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "URL": {
            "type": "string"
          }
        }
      },
      "Icons": {
        "allOf": [
          {
            "$ref": "#/components/schemas/FindResultMeta"
          },
          {
            "type": "object",
            "properties": {
              "Icons": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Icon"
                }
              }
            }
          }
        ]
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication information is missing or invalid",
        "headers": {
          "WWW_Authenticate": {
            "schema": {
              "type": "string"
            }
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError"
            }
          }
        }
      },
      "UnexpectedError": {
        "description": "unexpected error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/APIError"
            }
          }
        }
      }
    }
  }
}
